.App {
  margin: auto;
  color: rgba(0, 0, 0, 0.664);
  /* font-size: 12px; */
}

.section {
  width: 70vw;
  min-height: 100%;
  margin: auto;
  /* background-color: white; */
  /* margin-top: 5%; */
}

.highlight-blue {
  color: rgba(24, 92, 156, 0.418);
  font-weight: bold;  
}
.highlight-light {
  color: rgba(228, 222, 135, 0.61);
  font-weight: bold;
}

.paragraph {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

@media only screen and (max-width:780px) {
  .section {
    width: 95%;
    margin: auto;
  }
.paragraph {
  text-align: center;
}
}

.nobull {
  list-style-type: none;
}
.text-big {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 5rem;
  font-weight: bold;
}
.text-md-vw {
  font-size: 2vw;
}

.heading {
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  line-height: 5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

@media only screen and (max-width:1200px) {
  .heading {
    text-align: center;
    margin-left: 0;
  }
  }
@media only screen and (max-width:780px) {
  .heading {
    font-size: 1.9rem;
  }
  }