.contact {
    background-color: rgba(24, 92, 156, 0.418);
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
}
.contact-link {
    text-decoration: underline;
    color: inherit;
}
.contact-link:hover {
    text-decoration: none;
    color: inherit;
}
.contact-container {
    max-width: 80%;
}
@media only screen and (max-width:780px) {
    .contact-container {
        max-width: 100%;
        text-align: center;
        font-size: 0.8em;
    }
    /* .contact-container {
        max-width: 100%;
    } */
}