nav {
  /* background-color: #9ebbd5; */
  background-color: white;
}
  .home {
    font-size: 1rem;
    /* color: white; */
  }
  @media only screen and (max-width:580px) {
    .nav-item {
      text-align: right;
    }
  }
  @media only screen and (min-width:576px) {
    .navbar-nav {
      position: fixed;
      top: 5px;
      right: 5px;
      z-index: 1030;
      font-size: 1rem;
    }
  }
  .active {
    /* color: rgb(0, 217, 255) !important; */
    /* color: rgba(228, 222, 135, 0.966) !important; */
    color: #5db39c !important;
    /* border-bottom: 1px solid rgba(228, 222, 135, 0.562); */
    font-weight: bold;
  }
  nav ul li:hover {
    cursor: pointer;
  }