.portfolio {
    /* background-color: rgba(206, 231, 235, 0.541); */
}
.section-projects {
    width: 70vw;
    min-height: 100vh;
    margin: auto;
  }
/* @media only screen and (min-width:1081px) { */
.project-container {
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
    display: flex;
    width: 90%;
    /* text-align: center; */
    margin-bottom: 50px;
    font-size: 12px;
}
.project-left {
    width: 60%;
}

.project-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* } */

@media only screen and (max-width:1080px) {
.section-projects {
    width: 95%;
    margin: auto;
  }
}




.project-container:hover {
    /* background-color: rgba(183, 238, 229, 0.425); */
    background-color: rgba(228, 222, 135, 0.24);
    width: 91%;
}


.project-image {
    width: 100%;
    margin-top: 30px;
    /* padding-right: 30px; */
}

.view-project {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    background-color: rgba(24, 92, 156, 0.034);
    padding: 10px;
    font-size: 1rem;
}

.link {
    color:  rgba(0, 0, 0, 0.664);
}
.link:hover {
    text-decoration: underline;
    color:  rgba(0, 0, 0, 0.560)
}
.image-hover:hover + div div a.live {
    text-decoration: underline;
}
.project-left h2 {
    /* text-align: center; */
    margin: 30px 0 10px 40px;
    letter-spacing: 0.2rem;
    font-size: 3em;
    font-weight: bold;

}
.description {
    font-size: 1.4em;
    margin: 20px 30px 40px 40px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
}
.tech-stack li span {
    background-color: rgba(24, 92, 156, 0.418);
    color:  white;
    font-size: 1.2em;
    padding: 5px 5px;
    border-radius: 10%;
    /* box-shadow: 0 2px 4px 0 rgba(34, 60, 80, .16); */
    box-shadow: 0 2px 4px 0 rgba(24, 92, 156, 0.151);
    transition: all ease-in-out .2s;
}
.tech-stack li {
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}