.skills {
    background-color: rgba(24, 92, 156, 0.418);
    padding-top: 10vh;
    /* padding-bottom: 20vh; */
    min-height: 100vh;
    color: white;
}


.skills li span {
    /* background-color: rgba(24, 92, 156, 0.418); */
    /* color:  rgba(228, 222, 135, 0.61); */
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 10%;
    /* box-shadow: 0 2px 4px 0 rgba(34, 60, 80, .16); */
    box-shadow: 0 2px 4px 0 rgba(228, 222, 135, 0.61);
    transition: all ease-in-out .2s;
}

.skills li {
    margin-bottom: 20px;
}
.quote-skills {
  display: flex;
  justify-content: center;
}
.quote-skills p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  /* line-height: 2rem; */
  width: 650px;
  margin-right: 20px;
  padding: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
  /* box-shadow: 0 2px 4px 0 rgba(24, 92, 156, 0.418); */
  /* box-shadow: 0 2px 4px 0 rgba(176, 228, 117, 0.418); */
}
.autor {
  font-size: 0.8rem;
  font-weight: normal;
}

@media only screen and (min-width:1350px) {
    .skills-flex {
      display: flex;
    }
  }

  @media only screen and (min-width:567px) {
    .skills-flex-container {
      display: flex;
      justify-content: space-around;
    }
    .skills-flex {
        width: 50%;
        justify-content: space-around;
    }
  }
  @media only screen and (max-width:780px) {
    .skills-flex-container {
        justify-content: center;
    }
  }
  @media only screen and (max-width:567px) {
    .skills-flex-container {
      display: flex;
    }
    .skills li span {
        font-size: 0.6rem;
    }
    .skills li {
        margin-bottom: 5px;
    }
  }